/* Définition d'une police personnalisée */

@font-face {
	font-family: 'desyrelregular';
	src: url('polices/desyrel_regular/desyrel-webfont.eot');
	src: url('polices/desyrel_regular/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
		 url('polices/desyrel_regular/desyrel-webfont.woff') format('woff'),
		 url('polices/desyrel_regular/desyrel-webfont.ttf') format('truetype'),
		 url('polices/desyrel_regular/desyrel-webfont.svg#desyrelregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Eléments principaux de la page */

body
{
	background-color: rgb(35,35,100);
	color: white;
	font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
	min-width: 500px;
}

#liseret
{
	width: 20%;
	height: 1500px;
	background: url("images/bandeau_nenuphar.jpg") no-repeat, url("images/texture_bleue.png");
	background-color: rgb(29,43,72);
	display: inline-block;
	vertical-align: top;
	border: 3px black double;
	border-radius: 10px;
}

#bloc_cv
{
	width: 75%;
 	display: inline-block;
	vertical-align: top;
}

section
{
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	min-width: 250px;
}

#experience
{
	width: 48%;
}

#competence, #formation
{
	width: 23%;
}

h2
{
	font-family: 'desyrelregular', "Comic Sans MS", Verdana, Arial, sans-serif;
	font-size: 1.5em;
	color: black;
	border: 3px black solid;
	box-shadow: 6px 3px 6px black;
}

h3
{
	font-family: 'desyrelregular', "Comic Sans MS", Verdana, Arial, sans-serif;
	text-decoration: underline;
	color: teal;
}

ul
{
	text-align: justify;
	list-style-type: circle;
}

strong
{
	font-weight: bold;
	color: gray;
}

em
{
	font-weight: bold;
	font-style: italic;
	color: silver;
}

a
{
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	color: gray;
}


/* Header */

header h1
{
	font-family: 'desyrelregular', "Comic Sans MS", Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 3em;
}

.photo
{
	float: right;
	border: 3px black double;
	border-radius: 10px;
	box-shadow: 6px 6px 6px gray;
}

.citation
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: teal;
}

/* Footer */

footer p
{
	text-align: center;
}


/* Correctifs pour les vieilles versions d'Internet Explorer */

.old_ie #liseret, .old_ie #bloc_cv, .old_ie section
{
	display: inline;
	zoom: 1;
}